<% provide(:title, "#{@institute.name}") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @institute.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @institute.description %>
</p>

<p>
  <strong>Imágem:</strong>
  <%= image_tag @institute.picture.url(:medium) %>
</p>

<%= link_to 'Editar', edit_institute_path(@institute) %> |
<%= link_to 'Voltar', institutes_path %>
