<% provide(:title, "Usuários") %>
<div class="jumbotron text-center">
<h2>People</h2>
<div class="btn-group" role="group" aria-label="Default Button Groups">
<%= link_to "Everyone", users_path, class: "btn btn-default #{'active' unless params[:people]}" %>
<%= link_to "Friends (#{@friend_count})", users_path(people: "friends"), class: "btn btn-default #{'active' if params[:people] == 'friends'}" %>
<%= link_to "Requests (#{request_count})", users_path(people: "requests"), class: "btn btn-default #{'active' if params[:people] == 'requests'}" %>
<%= link_to "Pending (#{@pending_count})", users_path(people: "pending"), class: "btn btn-default #{'active' if params[:people] == 'pending'}" %>
</div>
</div>

<div class="container">
  <div>
  	
  	<table class="responsive">
  		<tbody>
		    <% @users.each do |user| %>
		    	<tr>
		    		<td>
					    <div class="panel panel-default">
					      <%= link_to user_path(user) do %>
					      <div class="panel-body">
					        <%= image_tag(user.avatar.url(:medium)) %>
					        <p><%= user.full_name %></p>
                  <% if current_user %>
                    <p><%= action_buttons(user)%></p>
                  <% end %>
					      </div>
					      <% end %>
					    </div>
					  </td>
					  <td><%= link_to 'Editar perfil', edit_user_registration_path %></td>
        		<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				  </tr>
		    <% end %>
	  	</tbody>
	  </table>
    
  </div>
</div>


<div class="row">
  <!-- Not implemented on tutorial -->
  <div class="col-md-4">
    <div style="height: 300px; overflow-y: auto;">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Registered Users</div>

        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each_with_index do |user, index| %>
              <tr>
                <td><%= index +=1 %></td>
                <td><%= user.name %></td>
                <td>
                  <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                              "data-sid" => current_user.id, "data-rip" => user.id %>
                </td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <h3>Your Conversations</h3>

    <div style="height: 400px; overflow-y: auto;">
      <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag("http://placehold.it/50x50", class: "media-object pull-left") %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  </div>
                </li>

            <% end %>
          </ul>
      <% else %>
          <p>You have no conversations. Click send message with any user to create one.</p>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">

  </div>
</div>