<% provide(:title, "#{@department.name}") %>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading text-center">
		<h1>
		  <strong><%= @department.name %></strong>
		</h1>
	</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
    		<tr>
    			<td rowspan="3">
    				<%= image_tag @department.picture.url(:thumb) %>
    			</td>
    			<td>
		 				<strong>Descrição:</strong>
		 		  	<%= @department.description %>
		 		  </td>
		 		</tr>
		 		<tr>
		 			<td>Criado em: <%= @department.created_at.to_s(:created) %></td>
		 		</tr>
        <tr>
          <td>Atualizado em: <%= @department.updated_at.to_s(:updated) %></td>
        </tr>
      </table>
    </div>
		<div class="well well-sm text-center">
			<%= link_to 'Editar', edit_department_path(@department), class:'btn btn-primary' %> |
			<%= link_to 'Voltar', departments_path, class:'btn btn-primary' %>
		</div>
	</div>
</div>
