<% provide(:title, "#{@department.name}") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @department.description %>
</p>

<p>
  <strong>Imágem:</strong>
  <%= image_tag @department.picture.url(:medium) %>
</p>

<%= link_to 'Editar', edit_department_path(@department) %> |
<%= link_to 'Voltar', departments_path %>
